# Date format to use when displaying stats
dialect = "uk"

# Default timezone to use when displaying time
timezone = "local"

# enable or disable automatic sync
auto_sync = false

# Enable or disable automatic update checks
update_check = true

# Use fzf syntax
search_mode = "fuzzy"

# Which filter mode to use
# possible values: global, host, session, directory
filter_mode = "global"

## With workspace filtering enabled, Atuin will filter for commands executed
## in any directory within a git repository tree (default: false)
workspaces = true

## Which filter mode to use when Atuin is invoked from a shell up-key binding
## the accepted values are identical to those of "filter_mode"
## leave unspecified to use same mode set in "filter_mode"
filter_mode_shell_up_key_binding = "directory"

## Which style to use
## possible values: auto, full, compact
style = "compact"

## The maximum number of lines the interface should take up.
## Set it to 0 to always go full screen
inline_height = 0

# Invert the UI - put the search bar at the top, Default to `false`
invert = false

## Enable or disable showing a preview of the selected command
## useful when the command is longer than the terminal width and is cut off
show_preview = true

## What to do when the escape key is pressed when searching
## possible values: return-original, return-query
exit_mode = "return-original"

# Use CTRL instead of alt as the shortcut modifier key for numerical UI shortcuts alt-0 ... alt-9
ctrl_n_shortcuts = false

# Configure whether or not to show the help row, which includes the current Atuin
# version (and whether an update is available), a keymap hint, and the total
# amount of commands in your history.
show_help = true

## Configure whether or not to show tabs for search and inspect
show_tabs = true

## Defaults to true. This matches history against a set of default regex, and will not save it if we get a match. Defaults include
secrets_filter = true

# If enabled, commands that fail (i.e. exit with a non-zero status) will not be saved to history.
store_failed = false

## Defaults to true. If enabled, upon hitting enter Atuin will immediately execute the command. Press tab to return to the shell and edit.
# This applies for new installs. Old installs will keep the old behavior unless configured otherwise.
enter_accept = true

# In the keymap mode "vim-normal", you may use k and j to navigate the history
# list as in Vim, whilst pressing i changes the keymap mode to "vim-insert". In
# the keymap mode "vim-insert", you can search for a string as in the keymap
# mode "Emacs", while pressing escape switches the keymap mode to "vim-normal".
keymap_mode = "vim-insert"

## Cursor style in each keymap mode. If specified, the cursor style is changed
## in entering the cursor shape. Available values are "default" and
## "{blink,steady}-{block,underline,bar}".
keymap_cursor = { emacs = "steady-block", vim_insert = "steady-bar", vim_normal = "steady-block" }

[stats]
common_subcommands = [
  "apt",
  "aws",
  "buf",
  "bun",
  "cargo",
  "composer",
  "dnf",
  "docker",
  "gh",
  "git",
  "go",
  "gsutil",
  "hsdk",
  "ip",
  "kubectl",
  "mise",
  "nix",
  "nmcli",
  "npm",
  "ogen",
  "pecl",
  "pnpm",
  "podman",
  "port",
  "systemctl",
  "tmux",
  "yarn",
] # Set commands where we should consider the subcommand for statistics. Eg, kubectl get vs just kubectl

# Set commands that will be completely ignored from stats
ignored_commands = ["cd", "ls", "nvim"]

[keys]
# Defaults to true. If disabled, using the up/down key won't exit the TUI when scrolled past the first/last entry.
scroll_exits = false

[sync]
# Enable sync by default
records = true

[preview]
# Which preview strategy to use to calculate the preview height (respects max_preview_height).
strategy = "auto"

[daemon]
# Enables using the daemon to sync
enabled = true
